# Tabular View of KOI Dataset

The first step in Exploratory Data Analysis is to load the data, sanity check, preprocess, (validate dtypes, cleanup, fillna, add/map fields) and create a convenient datamodel.

A tabular view of the raw dataset also provides a reference page when coding more advanced queries and visualization

Dataset preprocessing code is: [./src/dataset_koi.py](./src/dataset_koi.py)

In [40]:
# Python imports and settings
import numpy  as np
import pandas as pd
import re
from pydash import py_ as _
from src.dataset_koi import koi, koi_columns, koi_column_types

# https://stackoverflow.com/questions/11707586/how-do-i-expand-the-output-display-to-see-more-columns-of-a-pandas-dataframe
pd.set_option('display.max_columns', None)  
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
pd.set_option('display.max_rows', 8)  # 8 is required for .describe()

%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## Whole Dataset

NOTE: The `kepoi_star` column has been dynamically added by preprocessing

In [41]:
koi['all']

            rowid     kepid kepoi_name kepoi_star   kepler_name koi_disposition koi_vet_stat koi_vet_date koi_pdisposition  koi_score  koi_fpflag_nt koi_fpflag_ss koi_fpflag_co koi_fpflag_ec koi_disp_prov                                       koi_comment  koi_period  koi_time0bk    koi_time0  koi_eccen  koi_longp  koi_impact  koi_duration  koi_ingress  koi_depth   koi_ror  koi_srho koi_fittype  koi_prad  koi_sma  koi_incl  koi_teq  koi_insol  koi_dor                   koi_limbdark_mod  koi_ldm_coeff4  koi_ldm_coeff3  koi_ldm_coeff2  koi_ldm_coeff1 koi_parm_prov  koi_max_sngle_ev  koi_max_mult_ev  koi_model_snr  koi_count  koi_num_transits  koi_tce_plnt_num koi_tce_delivname                      koi_quarters  koi_bin_oedp_sig                       koi_trans_mod  koi_model_dof  koi_model_chisq                                              koi_datalink_dvr                                                  koi_datalink_dvs  koi_steff  koi_slogg  koi_smet  koi_srad  koi_smass  koi_sage koi_sparprov         ra        dec  koi_kepmag  koi_gmag  koi_rmag  koi_imag  koi_zmag  koi_jmag  koi_hmag  koi_kmag  koi_fwm_stat_sig  koi_fwm_sra  koi_fwm_sdec  koi_fwm_srao  koi_fwm_sdeco  koi_fwm_prao  koi_fwm_pdeco  koi_dicco_mra  koi_dicco_mdec  koi_dicco_msky  koi_dikco_mra  koi_dikco_mdec  koi_dikco_msky
kepoi_name
K00752.01   1      10797460  K00752.01  K00752     Kepler-227 b  CONFIRMED       Done        2018-08-16    CANDIDATE        1.000      0              0             0             0             sup_koi       NO_COMMENT                                        9.488036    170.538750   2455003.539  0.0       NaN         0.146       2.95750      NaN           615.8      0.022344  3.20796   LS+MCMC     2.26      0.0853   89.66     793.0    93.59      24.810   Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.2291          0.4603          koi           5.135849          28.470820        35.8           2          142.0             1.0               tce               11111111111111111000000000000000  0.6864            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010797/010797460/dv/kplr010797460-20160209194854_dvr.pdf  010/010797/010797460/dv/kplr010797460-001-20160209194854_dvs.pdf  5455.0     4.467      0.14      0.927     0.919     NaN        stellar      291.93423  48.141651  15.347      15.890    15.270    15.114    15.006    14.082    13.751    13.648    0.002             19.462294    48.141910     0.430         0.940         -0.000200     -0.000550      -0.010          0.200           0.200           0.080          0.310           0.320
K00752.02   2      10797460  K00752.02  K00752     Kepler-227 c  CONFIRMED       Done        2018-08-16    CANDIDATE        0.969      0              0             0             0             sup_koi       NO_COMMENT                                        54.418383   162.513840   2454995.514  0.0       NaN         0.586       4.50700      NaN           874.8      0.027954  3.02368   LS+MCMC     2.83      0.2734   89.57     443.0    9.11       77.900   Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.2291          0.4603          koi           7.027669          20.109507        25.8           2          25.0              2.0               tce               11111111111111111000000000000000  0.0023            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010797/010797460/dv/kplr010797460-20160209194854_dvr.pdf  010/010797/010797460/dv/kplr010797460-002-20160209194854_dvs.pdf  5455.0     4.467      0.14      0.927     0.919     NaN        stellar      291.93423  48.141651  15.347      15.890    15.270    15.114    15.006    14.082    13.751    13.648    0.003             19.462265    48.141990    -0.630         1.230          0.000660     -0.001050       0.390          0.000           0.390           0.490          0.120           0.500
K00753.01   3      10811496  K00753.01  K00753     NaN           CANDIDATE       Done        2018-08-16    CANDIDATE        0.000      0              0             0             0             sup_koi       DEEP_V_SHAPED                                     19.899140   175.850252   2455008.850  0.0       NaN         0.969       1.78220      NaN           10829.0    0.154046  7.29555   LS+MCMC     14.60     0.1419   88.96     638.0    39.30      53.500   Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.2711          0.3858          koi           37.159767         187.449100       76.3           1          56.0              1.0               tce               11111101110111011000000000000000  0.6624            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010811/010811496/dv/kplr010811496-20160209194854_dvr.pdf  010/010811/010811496/dv/kplr010811496-001-20160209194854_dvs.pdf  5853.0     4.544     -0.18      0.868     0.961     NaN        stellar      297.00482  48.134129  15.436      15.943    15.390    15.220    15.166    14.254    13.900    13.826    0.278             19.800321    48.134120    -0.021        -0.038          0.000700      0.000600      -0.025         -0.034           0.042           0.002         -0.027           0.027
K00754.01   4      10848459  K00754.01  K00754     NaN           FALSE POSITIVE  Done        2018-08-16    FALSE POSITIVE   0.000      0              1             0             0             sup_koi       MOD_ODDEVEN_DV---MOD_ODDEVEN_ALT---DEEP_V_SHAPED  1.736952    170.307565   2455003.308  0.0       NaN         1.276       2.40641      NaN           8079.2     0.387394  0.22080   LS+MCMC     33.46     0.0267   67.09     1395.0   891.96     3.278    Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.2865          0.3556          koi           39.066550         541.895100       505.6          1          621.0             1.0               tce               11111110111011101000000000000000  0.0000            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010848/010848459/dv/kplr010848459-20160209194854_dvr.pdf  010/010848/010848459/dv/kplr010848459-001-20160209194854_dvs.pdf  5805.0     4.564     -0.52      0.791     0.836     NaN        stellar      285.53461  48.285210  15.597      16.100    15.554    15.382    15.266    14.326    13.911    13.809    0.000             19.035638    48.285210    -0.111         0.002          0.003020     -0.001420      -0.249          0.147           0.289          -0.257          0.099           0.276
...        ..           ...        ...     ...     ...                 ...        ...               ...          ...          ...     ..             ..            ..            ..                 ...                 ...                                           ...          ...           ...  ...        ..           ...           ...       ..               ...         ...      ...       ...       ...        ...     ...       ...      ...         ...                                 ...  ...             ...                ...             ...          ...                 ...                ...        ...          ..           ...              ...               ...                                            ...     ...                                           ...  ..             ..                                                                        ...                                                               ...     ...       ...       ...        ...       ...      ..            ...            ...        ...     ...         ...       ...       ...       ...       ...       ...       ...      ...                   ...          ...       ...           ...               ...           ...         ...            ...             ...             ...            ...             ...
K07986.01   9561   10128825  K07986.01  K07986     NaN           CANDIDATE       Done        2018-08-16    CANDIDATE        0.497      0              0             0             0             sup_koi       NO_COMMENT                                        1.739849    133.001270   2454966.001  0.0       NaN         0.043       3.11400      NaN           48.5       0.006379  0.50770   LS+MCMC     0.72      0.0290   89.42     1608.0   1585.81    4.331    Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.2868          0.3588          koi           3.841146          8.569540         10.6           1          766.0             1.0               tce               11111111111111111000000000000000  0.1374            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010128/010128825/dv/kplr010128825-20160209194854_dvr.pdf  010/010128/010128825/dv/kplr010128825-001-20160209194854_dvs.pdf  6119.0     4.444     -0.04      1.031     1.075     NaN        stellar      286.50937  47.163219  14.757      15.189    14.687    14.571    14.484    13.641    13.339    13.261    0.089             19.100625    47.163770     0.100         2.000         -0.000018     -0.000074       0.740         -0.250           0.780           0.500         -0.180           0.530
K07987.01   9562   10147276  K07987.01  K07987     NaN           FALSE POSITIVE  Done        2018-08-16    FALSE POSITIVE   0.021      0              0             1             0             sup_koi       CENT_RESOLVED_OFFSET                              0.681402    132.181750   2454965.182  0.0       NaN         0.147       0.86500      NaN           103.6      0.009444  8.97692   LS+MCMC     1.07      0.0157   88.60     2218.0   5713.41    6.040    Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.3029          0.3239          koi           3.748643          9.653322         12.3           1          1969.0            1.0               tce               11111111111111111000000000000000  0.9995            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010147/010147276/dv/kplr010147276-20160209194854_dvr.pdf  010/010147/010147276/dv/kplr010147276-001-20160209194854_dvs.pdf  6173.0     4.447     -0.04      1.041     1.104     NaN        stellar      294.16489  47.176281  15.385      15.853    15.347    15.185    15.158    14.220    13.913    13.844    0.000             19.611187    47.174720     7.200        -5.600         -0.000720      0.000500       3.410         -3.650           5.000           3.380         -3.890           5.160
K07988.01   9563   10155286  K07988.01  K07988     NaN           CANDIDATE       Done        2018-08-16    CANDIDATE        0.092      0              0             0             0             sup_koi       ALL_TRANS_CHASES---CENT_SATURATED                 333.486169  153.615010   2454986.615  0.0       NaN         0.214       3.19900      NaN           639.1      0.022590  85.88623  LS+MCMC     19.30     1.2233   89.98     557.0    22.68      796.000  Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.1697          0.5559          koi           5.252939          7.240365         14.0           1          3.0               1.0               tce               11111101110111011000000000000000  0.6961            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010155/010155286/dv/kplr010155286-20160209194854_dvr.pdf  010/010155/010155286/dv/kplr010155286-001-20160209194854_dvs.pdf  4989.0     2.992      0.07      7.824     2.190     NaN        stellar      296.76288  47.145142  10.998      11.733    10.880    10.682    10.578    9.501     9.027     8.921     0.052             19.784200    47.145142     0.310         0.010         -0.000290     -0.000100       1.061          1.320           1.690           1.450          1.370           2.000
K07989.01   9564   10156110  K07989.01  K07989     NaN           FALSE POSITIVE  Done        2018-08-16    FALSE POSITIVE   0.000      0              0             1             1             sup_koi       CENT_RESOLVED_OFFSET---HALO_GHOST---EPHEM_MATCH   4.856035    135.993300   2454968.993  0.0       NaN         0.134       3.07800      NaN           76.7       0.008076  1.40645   LS+MCMC     1.05      0.0606   89.36     1266.0   607.42     12.060   Claret (2011 A&A 529 75) ATLAS LS  0.0             0.0             0.3138          0.2998          koi           3.253128          7.167940         8.2            1          218.0             1.0               tce               11111101110111011000000000000000  0.1174            Mandel and Agol (2002 ApJ 580 171) NaN            NaN               010/010156/010156110/dv/kplr010156110-20160209194854_dvr.pdf  010/010156/010156110/dv/kplr010156110-001-20160209194854_dvs.pdf  6469.0     4.385      0.07      1.193     1.260     NaN        stellar      297.00977  47.121021  14.826      15.210    14.781    14.662    14.647    13.830    13.522    13.512    0.000             19.800732    47.123490     2.900         8.900         -0.000230     -0.000700       1.020          3.300           3.400           0.960          3.400           3.500

[9564 rows x 84 columns]

In [42]:
koi['all'].describe()

             rowid         kepid    koi_score  koi_fpflag_nt     koi_period  koi_time0bk     koi_time0  koi_eccen  koi_longp   koi_impact  koi_duration  koi_ingress     koi_depth      koi_ror     koi_srho       koi_prad      koi_sma     koi_incl       koi_teq     koi_insol       koi_dor  koi_ldm_coeff4  koi_ldm_coeff3  koi_ldm_coeff2  koi_ldm_coeff1  koi_max_sngle_ev  koi_max_mult_ev  koi_model_snr    koi_count  koi_num_transits  koi_tce_plnt_num  koi_bin_oedp_sig  koi_model_dof  koi_model_chisq     koi_steff    koi_slogg     koi_smet     koi_srad    koi_smass  koi_sage           ra          dec   koi_kepmag     koi_gmag     koi_rmag     koi_imag     koi_zmag     koi_jmag     koi_hmag    koi_kmag  koi_fwm_stat_sig  koi_fwm_sra  koi_fwm_sdec  koi_fwm_srao  koi_fwm_sdeco  koi_fwm_prao  koi_fwm_pdeco  koi_dicco_mra  koi_dicco_mdec  koi_dicco_msky  koi_dikco_mra  koi_dikco_mdec  koi_dikco_msky
count  9564.000000  9.564000e+03  9564.000000  9564.000000    9564.000000    9564.000000  9.564000e+03  9201.0     0.0        9201.000000  9564.000000   0.0          9.201000e+03  9201.000000  9243.000000  9201.000000    9201.000000  9200.000000  9201.000000   9.243000e+03  9201.000000   9201.0          9201.0          9201.000000     9201.000000     8422.000000       8422.000000      9201.000000    9564.000000  8422.000000       9218.000000       8054.000000       0.0            0.0              9201.000000   9201.000000  9178.000000  9201.000000  9201.000000  0.0       9564.000000  9564.000000  9563.000000  9523.000000  9555.000000  9410.000000  8951.000000  9539.000000  9539.000000  9539.00000  8488.000000       9058.000000  9058.000000   9109.000000   9109.000000    8734.000000   8747.000000    8965.000000    8965.000000     8965.000000     8994.000000    8994.000000     8994.000000
mean   4782.500000  7.690628e+06  0.404914     0.160079       75.671358      166.183251   2.454999e+06  0.0       NaN         0.735105     5.621606     NaN           2.379134e+04  0.283646     9.164414     102.891778     0.223989     82.469147    1085.385828   7.745737e+03  76.736333     0.0             0.0             0.254439        0.407617        176.846052        1025.664672      259.895001     1.406315     385.006768        1.243654          0.409500         NaN            NaN               5706.823280   4.310157    -0.124431     1.728712     1.023706    NaN        292.060163   43.810433    14.264606    14.830501    14.221565    14.075138    13.991724    12.993311    12.620604    12.54341    0.150994          19.471356    43.829239    -0.316136     -0.165817      -0.000097     -0.000714      -0.012281      -0.045420        1.866561       -0.024244      -0.076749        1.812566
std    2761.033321  2.653459e+06  0.471473     0.366699       1334.744046    67.918960    6.791896e+01  0.0       NaN         3.348832     6.471554     NaN           8.224268e+04  3.306558     53.807967    3077.639126    0.566359     15.223627    856.351161    1.592047e+05  845.274598    0.0             0.0             0.064806        0.106076        770.902357        4154.121620      795.806615     0.873289     545.756200        0.664573          0.500793         NaN            NaN               796.857947    0.432606     0.282111     6.127185     0.349447    NaN        4.766657     3.601243     1.385448     1.501885     1.383713     1.292573     1.230351     1.291912     1.267215     1.26818     0.252648          0.319158     3.599553      20.254777     20.534655      0.058224      0.092986       2.406550       2.573558        2.988742        2.382286       2.553758        2.986376
min    1.000000     7.574500e+05  0.000000     0.000000       0.241843       120.515914   2.454954e+06  0.0       NaN         0.000000     0.052000     NaN           0.000000e+00  0.001289     0.000040     0.080000       0.005900     2.290000     25.000000     0.000000e+00  0.373000      0.0             0.0            -0.120600        0.125400        2.417437          7.105086         0.000000       1.000000     0.000000          1.000000         -1.000000         NaN            NaN               2661.000000   0.047000    -2.500000     0.109000     0.000000    NaN        279.852720   36.577381    6.966000     7.225000     7.101000     7.627000     6.702000     4.097000     3.014000     2.31100     0.000000          18.657036    36.576888    -742.430000   -417.900000    -4.000000     -6.000000      -25.100000     -75.900000       0.000000       -27.800000     -76.600000       0.000000
25%    2391.750000  5.556034e+06  0.000000     0.000000       2.733684       132.761718   2.454966e+06  0.0       NaN         0.197000     2.437750     NaN           1.599000e+02  0.012341     0.229250     1.400000       0.037700     83.920000    539.000000    2.015000e+01  5.358000      0.0             0.0             0.228600        0.326800        3.997856          10.733030        12.000000      1.000000     41.000000         1.000000          0.134650         NaN            NaN               5310.000000   4.218000    -0.260000     0.829000     0.845000    NaN        288.660770   40.777173    13.440000    13.896500    13.393000    13.294000    13.276000    12.253000    11.914500    11.84300    0.000000          19.243889    40.798688    -0.600000     -0.680000      -0.000210     -0.000220      -0.320000      -0.387000        0.170000       -0.310000      -0.390000        0.210000
50%    4782.500000  7.906892e+06  0.000000     0.000000       9.752831       137.224595   2.454970e+06  0.0       NaN         0.537000     3.792600     NaN           4.211000e+02  0.021076     0.956720     2.390000       0.085100     88.500000    878.000000    1.416000e+02  15.460000     0.0             0.0             0.271100        0.392000        5.589751          19.254412        23.000000      1.000000     143.000000        1.000000          0.486600         NaN            NaN               5767.000000   4.438000    -0.100000     1.000000     0.974000    NaN        292.261125   43.677504    14.520000    15.064000    14.471000    14.317500    14.254000    13.236000    12.834000    12.74400    0.006000          19.484983    43.694115    -0.000500     -0.034000       0.000000      0.000000       0.000000       0.000000        0.610000       -0.004000      -0.017000        0.583000
75%    7173.250000  9.873066e+06  0.995000     0.000000       40.715178      170.694603   2.455004e+06  0.0       NaN         0.889000     6.276500     NaN           1.473400e+03  0.095348     2.897175     14.930000      0.214400     89.770000    1379.000000   8.702900e+02  45.370000     0.0             0.0             0.299800        0.464100        16.947631         71.998003        78.000000      1.000000     469.000000        1.000000          0.810375         NaN            NaN               6112.000000   4.543000     0.070000     1.345000     1.101000    NaN        295.859160   46.714611    15.322000    15.935500    15.275000    15.063000    14.943000    13.968000    13.551000    13.48450    0.196250          19.726785    46.720630     0.570000      0.500000       0.000240      0.000240       0.309000       0.300000        2.160000        0.290000       0.300000        1.970000
max    9564.000000  1.293514e+07  1.000000     1.000000       129995.778400  1472.522306  2.456306e+06  0.0       NaN         100.806000   138.540000   NaN           1.541400e+06  99.870651    980.854190   200346.000000  44.989200    90.000000    14667.000000  1.094755e+07  79614.000000  0.0             0.0             0.482200        0.948600        22982.162000      120049.680000    9054.700000    7.000000     2664.000000       8.000000          1.000000         NaN            NaN               15896.000000  5.364000     0.560000     229.908000   3.735000    NaN        301.720760   52.336010    20.003000    21.150000    19.960000    19.900000    17.403000    17.372000    17.615000    17.03800    1.000000          20.114785    52.338190     549.500000    712.500000     1.190000      5.000000       45.680000      27.500000       88.600000       46.570000      34.000000       89.600000

In [43]:
koi['all'].select_dtypes(['category','object']).describe([], 'all')

       kepoi_name kepoi_star   kepler_name koi_disposition koi_vet_stat koi_pdisposition  koi_fpflag_ss  koi_fpflag_co  koi_fpflag_ec koi_disp_prov koi_comment koi_fittype                   koi_limbdark_mod koi_parm_prov koi_tce_delivname                      koi_quarters                       koi_trans_mod                                              koi_datalink_dvr                                                  koi_datalink_dvs koi_sparprov
count   9564       9564       2305          9564            9564         9564             9564           9564           9564           9564          9564        9564        9201                               9564          9564              8422                              9201                                9218                                                          9218                                                              9201
unique  9564       8214       2305          3               1            2                2              2              2              1             996         4           1                                  1             2                 212                               1                                   8063                                                          9218                                                              2
top     K00499.01  K00351     Kepler-398 b  FALSE POSITIVE  Done         FALSE POSITIVE   0              0              0              sup_koi       NO_COMMENT  LS+MCMC     Claret (2011 A&A 529 75) ATLAS LS  koi           tce               11111111111111111000000000000000  Mandel and Agol (2002 ApJ 580 171)  011/011442/011442793/dv/kplr011442793-20160209194854_dvr.pdf  006/006233/006233573/dv/kplr006233573-001-20160209194854_dvs.pdf  stellar
freq    1          7          1             4841            9564         4847             7338           7675           8416           9564          3109        7897        9201                               9564          9218              5426                              9201                                7                                                             1                                                                 9096

In [44]:
# Ensure column types are correct
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print( koi['all'].dtypes )

rowid                int64
kepid                int64
kepoi_name           object
kepoi_star           category
kepler_name          object
koi_disposition      category
koi_vet_stat         category
koi_vet_date         datetime64[ns]
koi_pdisposition     category
koi_score            float64
koi_fpflag_nt        int64
koi_fpflag_ss        category
koi_fpflag_co        category
koi_fpflag_ec        category
koi_disp_prov        category
koi_comment          object
koi_period           float64
koi_time0bk          float64
koi_time0            float64
koi_eccen            float64
koi_longp            float64
koi_impact           float64
koi_duration         float64
koi_ingress          float64
koi_depth            float64
koi_ror              float64
koi_srho             float64
koi_fittype          object
koi_prad             float64
koi_sma              float64
koi_incl             float64
koi_teq              float64
koi_insol            float64
koi_dor              float64
koi_limbdark_mod     object
koi_ldm_coeff4       float64
koi_ldm_coeff3       float64
koi_ldm_coeff2       float64
koi_ldm_coeff1       float64
koi_parm_prov        object
koi_max_sngle_ev     float64
koi_max_mult_ev      float64
koi_model_snr        float64
koi_count            int64
koi_num_transits     float64
koi_tce_plnt_num     float64
koi_tce_delivname    object
koi_quarters         category
koi_bin_oedp_sig     float64
koi_trans_mod        object
koi_model_dof        float64
koi_model_chisq      float64
koi_datalink_dvr     object
koi_datalink_dvs     object
koi_steff            float64
koi_slogg            float64
koi_smet             float64
koi_srad             float64
koi_smass            float64
koi_sage             float64
koi_sparprov         object
ra                   float64
dec                  float64
koi_kepmag           float64
koi_gmag             float64
koi_rmag             float64
koi_imag             float64
koi_zmag             float64
koi_jmag             float64
koi_hmag             float64
koi_kmag             float64
koi_fwm_stat_sig     float64
koi_fwm_sra          float64
koi_fwm_sdec         float64
koi_fwm_srao         float64
koi_fwm_sdeco        float64
koi_fwm_prao         float64
koi_fwm_pdeco        float64
koi_dicco_mra        float64
koi_dicco_mdec       float64
koi_dicco_msky       float64
koi_dikco_mra        float64
koi_dikco_mdec       float64
koi_dikco_msky       float64
dtype: object

In [45]:
# Check to see which columns contain NaN values
# Unsure what to do with these just yet - may replace them on a case by case later
# - columns with ONLY NaN: have been removed from category subsets
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    koi_isnan_columns    = koi['all'].isna().sum(axis=0)
    koi_isnan_columns    = koi_isnan_columns[ koi_isnan_columns != 0 ]  
    koi_only_nan_columns = koi_isnan_columns[ koi_isnan_columns == koi['all'].shape[0] ]  
    koi_single_value_col = koi['all'].nunique().where(lambda x: x == 1).dropna().keys()
    
    print( 'columns with ANY  NaN:     ', koi_isnan_columns.size, '/', koi['all'].shape[1] )
    print( 'columns with ONLY NaN:     ', koi_only_nan_columns.keys().to_list() )
    print( 'columns with SINGLE value: ', koi_single_value_col.to_list() )    
    print('---')
    print( koi_isnan_columns )

columns with ANY  NaN:      59 / 84
columns with ONLY NaN:      ['koi_longp', 'koi_ingress', 'koi_model_dof', 'koi_model_chisq', 'koi_sage']
columns with SINGLE value:  ['koi_vet_stat', 'koi_vet_date', 'koi_disp_prov', 'koi_eccen', 'koi_limbdark_mod', 'koi_ldm_coeff4', 'koi_ldm_coeff3', 'koi_parm_prov', 'koi_trans_mod']
---
kepler_name         7259
koi_eccen           363
koi_longp           9564
koi_impact          363
koi_ingress         9564
koi_depth           363
koi_ror             363
koi_srho            321
koi_prad            363
koi_sma             363
koi_incl            364
koi_teq             363
koi_insol           321
koi_dor             363
koi_limbdark_mod    363
koi_ldm_coeff4      363
koi_ldm_coeff3      363
koi_ldm_coeff2      363
koi_ldm_coeff1      363
koi_max_sngle_ev    1142
koi_max_mult_ev     1142
koi_model_snr       363
koi_num_transits    1142
koi_tce_plnt_num    346
koi_quarters        1142
koi_bin_oedp_sig    1510
koi_trans_mod       363
koi_model_dof       9564
koi_model_chisq     9564
koi_datalink_dvr    346
koi_datalink_dvs    346
koi_steff           363
koi_slogg           363
koi_smet            386
koi_srad            363
koi_smass           363
koi_sage            9564
koi_sparprov        363
koi_kepmag          1
koi_gmag            41
koi_rmag            9
koi_imag            154
koi_zmag            613
koi_jmag            25
koi_hmag            25
koi_kmag            25
koi_fwm_stat_sig    1076
koi_fwm_sra         506
koi_fwm_sdec        506
koi_fwm_srao        455
koi_fwm_sdeco       455
koi_fwm_prao        830
koi_fwm_pdeco       817
koi_dicco_mra       599
koi_dicco_mdec      599
koi_dicco_msky      599
koi_dikco_mra       570
koi_dikco_mdec      570
koi_dikco_msky      570
dtype: int64

## View by Category
Kepler Dataset Columns are subdivided into categories, lets view them individually

- https://exoplanetarchive.ipac.caltech.edu/docs/API_kepcandidate_columns.html

In [46]:
koi_columns.keys()

dict_keys(['id', 'archive', 'disposition', 'transit', 'TCE', 'stellar', 'KIC', 'pixels'])

### Category: ID

This the external ID used to map back to the Kepler Input Catalog (KIC)

In [47]:
koi['id']

               kepid kepoi_name kepoi_star
kepoi_name
K00752.01   10797460  K00752.01  K00752
K00752.02   10797460  K00752.02  K00752
K00753.01   10811496  K00753.01  K00753
K00754.01   10848459  K00754.01  K00754
...              ...        ...     ...
K07986.01   10128825  K07986.01  K07986
K07987.01   10147276  K07987.01  K07987
K07988.01   10155286  K07988.01  K07988
K07989.01   10156110  K07989.01  K07989

[9564 rows x 3 columns]

In [48]:
koi['id'].astype('object').describe()

           kepid kepoi_name kepoi_star
count   9564      9564       9564
unique  8214      9564       8214
top     11442793  K00499.01  K02433
freq    7         1          7

In [49]:
koi['id'].isna().sum()

kepid         0
kepoi_name    0
kepoi_star    0
dtype: int64

### Category: Exoplanet Archive Information

Exoplanet Archive Information - this is the master index of which exoplanets have been "found", either as CONFIRMED, CANDIDATE, FALSE POSITIVE

When an exoplanet gets "found" it is also given a human-friendly name

In [50]:
koi['archive']

             kepler_name koi_disposition
kepoi_name
K00752.01   Kepler-227 b  CONFIRMED
K00752.02   Kepler-227 c  CONFIRMED
K00753.01   NaN           CANDIDATE
K00754.01   NaN           FALSE POSITIVE
...         ...                 ...
K07986.01   NaN           CANDIDATE
K07987.01   NaN           FALSE POSITIVE
K07988.01   NaN           CANDIDATE
K07989.01   NaN           FALSE POSITIVE

[9564 rows x 2 columns]

In [51]:
koi['archive'].astype('object').describe()

         kepler_name koi_disposition
count   2305          9564
unique  2305          3
top     Kepler-398 b  FALSE POSITIVE
freq    1             4841

In [52]:
koi['archive'].isna().sum()

kepler_name        7259
koi_disposition    0
dtype: int64

In [53]:
koi['archive']['koi_disposition'].unique()

[CONFIRMED, CANDIDATE, FALSE POSITIVE]
Categories (3, object): [CONFIRMED, CANDIDATE, FALSE POSITIVE]

### Category: Disposition

Disposition is the attempt to categorise KOI's into CANDIDATE or FALSE POSITIVE (with a score). 

This section also contains a list of boolean and string status flags (which could be one-hot-encoded = 126 fields)

In [54]:
koi['disposition']

           koi_pdisposition  koi_score  koi_fpflag_nt koi_fpflag_ss koi_fpflag_co koi_fpflag_ec                                       koi_comment
kepoi_name
K00752.01   CANDIDATE        1.000      0              0             0             0             NO_COMMENT
K00752.02   CANDIDATE        0.969      0              0             0             0             NO_COMMENT
K00753.01   CANDIDATE        0.000      0              0             0             0             DEEP_V_SHAPED
K00754.01   FALSE POSITIVE   0.000      0              1             0             0             MOD_ODDEVEN_DV---MOD_ODDEVEN_ALT---DEEP_V_SHAPED
...               ...          ...     ..             ..            ..            ..                       ...
K07986.01   CANDIDATE        0.497      0              0             0             0             NO_COMMENT
K07987.01   FALSE POSITIVE   0.021      0              0             1             0             CENT_RESOLVED_OFFSET
K07988.01   CANDIDATE        0.092      0              0             0             0             ALL_TRANS_CHASES---CENT_SATURATED
K07989.01   FALSE POSITIVE   0.000      0              0             1             1             CENT_RESOLVED_OFFSET---HALO_GHOST---EPHEM_MATCH

[9564 rows x 7 columns]

In [55]:
koi['disposition'].astype('object').describe()

       koi_pdisposition  koi_score  koi_fpflag_nt  koi_fpflag_ss  koi_fpflag_co  koi_fpflag_ec koi_comment
count   9564             9564.0     9564           9564           9564           9564           9564
unique  2                650.0      2              2              2              2              996
top     FALSE POSITIVE   0.0        0              0              0              0              NO_COMMENT
freq    4847             4992.0     8033           7338           7675           8416           3109

In [56]:
# Maximum number of comment values for a single KOI = 11
( 
    _( koi['disposition']['koi_comment'].values )
        .map( lambda str: str.split('---') )
        .map( lambda lst: len(lst) )
        .max()
        .value()
)

11

In [57]:
# Total number of unique comment labels = 126
( 
    _( koi['disposition']['koi_comment'].values )
        .map( lambda str: str.split('---') )
        .flatten()
        .uniq()
        .sort()
        .size()
        .value()
)

126

In [58]:
# No NaN's for this category
koi['disposition'].isna().sum()

koi_pdisposition    0
koi_score           0
koi_fpflag_nt       0
koi_fpflag_ss       0
koi_fpflag_co       0
koi_fpflag_ec       0
koi_comment         0
dtype: int64

### Category: transit

Transit properties are the core measurements describing the light curve of the planetry transit, 
which allows reverse-engineering the planet properties. 

Transit Light Curve Tutorial: https://www.cfa.harvard.edu/~avanderb/tutorial/tutorial.html

In [59]:
koi['transit']

            koi_period  koi_time0bk    koi_time0  koi_impact  koi_duration  koi_depth   koi_ror  koi_srho koi_fittype  koi_prad  koi_sma  koi_incl  koi_teq  koi_insol  koi_dor  koi_ldm_coeff1  koi_ldm_coeff2
kepoi_name
K00752.01   9.488036    170.538750   2455003.539  0.146       2.95750       615.8      0.022344  3.20796   LS+MCMC     2.26      0.0853   89.66     793.0    93.59      24.810   0.4603          0.2291
K00752.02   54.418383   162.513840   2454995.514  0.586       4.50700       874.8      0.027954  3.02368   LS+MCMC     2.83      0.2734   89.57     443.0    9.11       77.900   0.4603          0.2291
K00753.01   19.899140   175.850252   2455008.850  0.969       1.78220       10829.0    0.154046  7.29555   LS+MCMC     14.60     0.1419   88.96     638.0    39.30      53.500   0.3858          0.2711
K00754.01   1.736952    170.307565   2455003.308  1.276       2.40641       8079.2     0.387394  0.22080   LS+MCMC     33.46     0.0267   67.09     1395.0   891.96     3.278    0.3556          0.2865
...               ...          ...           ...    ...           ...           ...         ...      ...       ...       ...        ...     ...       ...      ...         ...      ...             ...
K07986.01   1.739849    133.001270   2454966.001  0.043       3.11400       48.5       0.006379  0.50770   LS+MCMC     0.72      0.0290   89.42     1608.0   1585.81    4.331    0.3588          0.2868
K07987.01   0.681402    132.181750   2454965.182  0.147       0.86500       103.6      0.009444  8.97692   LS+MCMC     1.07      0.0157   88.60     2218.0   5713.41    6.040    0.3239          0.3029
K07988.01   333.486169  153.615010   2454986.615  0.214       3.19900       639.1      0.022590  85.88623  LS+MCMC     19.30     1.2233   89.98     557.0    22.68      796.000  0.5559          0.1697
K07989.01   4.856035    135.993300   2454968.993  0.134       3.07800       76.7       0.008076  1.40645   LS+MCMC     1.05      0.0606   89.36     1266.0   607.42     12.060   0.2998          0.3138

[9564 rows x 17 columns]

In [60]:
koi['transit'].describe()

          koi_period  koi_time0bk     koi_time0   koi_impact  koi_duration     koi_depth      koi_ror     koi_srho       koi_prad      koi_sma     koi_incl       koi_teq     koi_insol       koi_dor  koi_ldm_coeff1  koi_ldm_coeff2
count  9564.000000    9564.000000  9.564000e+03  9201.000000  9564.000000   9.201000e+03  9201.000000  9243.000000  9201.000000    9201.000000  9200.000000  9201.000000   9.243000e+03  9201.000000   9201.000000     9201.000000
mean   75.671358      166.183251   2.454999e+06  0.735105     5.621606      2.379134e+04  0.283646     9.164414     102.891778     0.223989     82.469147    1085.385828   7.745737e+03  76.736333     0.407617        0.254439
std    1334.744046    67.918960    6.791896e+01  3.348832     6.471554      8.224268e+04  3.306558     53.807967    3077.639126    0.566359     15.223627    856.351161    1.592047e+05  845.274598    0.106076        0.064806
min    0.241843       120.515914   2.454954e+06  0.000000     0.052000      0.000000e+00  0.001289     0.000040     0.080000       0.005900     2.290000     25.000000     0.000000e+00  0.373000      0.125400       -0.120600
25%    2.733684       132.761718   2.454966e+06  0.197000     2.437750      1.599000e+02  0.012341     0.229250     1.400000       0.037700     83.920000    539.000000    2.015000e+01  5.358000      0.326800        0.228600
50%    9.752831       137.224595   2.454970e+06  0.537000     3.792600      4.211000e+02  0.021076     0.956720     2.390000       0.085100     88.500000    878.000000    1.416000e+02  15.460000     0.392000        0.271100
75%    40.715178      170.694603   2.455004e+06  0.889000     6.276500      1.473400e+03  0.095348     2.897175     14.930000      0.214400     89.770000    1379.000000   8.702900e+02  45.370000     0.464100        0.299800
max    129995.778400  1472.522306  2.456306e+06  100.806000   138.540000    1.541400e+06  99.870651    980.854190   200346.000000  44.989200    90.000000    14667.000000  1.094755e+07  79614.000000  0.948600        0.482200

In [61]:
koi['transit'].select_dtypes(['category','object']).describe([], 'all')

       koi_fittype
count   9564
unique  4
top     LS+MCMC
freq    7897

In [62]:
koi['transit']['koi_fittype'].unique()

array(['LS+MCMC', 'MCMC', 'LS', 'none'], dtype=object)

In [63]:
koi['all']['koi_parm_prov'].unique()  # Single Value Only after cleanup, not in: koi['transit']

array(['koi'], dtype=object)

### Category: TCE

Threshold-Crossing Event (TCE) Information is mostly useful for determining the number of transits and the number of planets detected for a star

In [64]:
koi['TCE'].describe()

       koi_max_sngle_ev  koi_max_mult_ev  koi_model_snr    koi_count  koi_num_transits  koi_tce_plnt_num
count  8422.000000       8422.000000      9201.000000    9564.000000  8422.000000       9218.000000
mean   176.846052        1025.664672      259.895001     1.406315     385.006768        1.243654
std    770.902357        4154.121620      795.806615     0.873289     545.756200        0.664573
min    2.417437          7.105086         0.000000       1.000000     0.000000          1.000000
25%    3.997856          10.733030        12.000000      1.000000     41.000000         1.000000
50%    5.589751          19.254412        23.000000      1.000000     143.000000        1.000000
75%    16.947631         71.998003        78.000000      1.000000     469.000000        1.000000
max    22982.162000      120049.680000    9054.700000    7.000000     2664.000000       8.000000

In [65]:
koi['TCE'].select_dtypes(['category','object']).describe([], 'all')

       koi_tce_delivname                      koi_quarters
count   9564              8422
unique  2                 212
top     tce               11111111111111111000000000000000
freq    9218              5426

In [66]:
koi['TCE']['koi_tce_delivname'].unique()

array(['tce', ''], dtype=object)

In [67]:
koi['TCE'].isna().sum()

koi_max_sngle_ev     1142
koi_max_mult_ev      1142
koi_model_snr        363
koi_count            0
koi_num_transits     1142
koi_tce_plnt_num     346
koi_tce_delivname    0
koi_quarters         1142
dtype: int64

### Category: stellar

These are the key statistics of the star: temperature, surface gravity, metallicity, radius, mass, age

In [68]:
koi['stellar']

            koi_steff  koi_slogg  koi_smet  koi_srad  koi_smass koi_sparprov
kepoi_name
K00752.01   5455.0     4.467      0.14      0.927     0.919      stellar
K00752.02   5455.0     4.467      0.14      0.927     0.919      stellar
K00753.01   5853.0     4.544     -0.18      0.868     0.961      stellar
K00754.01   5805.0     4.564     -0.52      0.791     0.836      stellar
...            ...       ...       ...        ...       ...          ...
K07986.01   6119.0     4.444     -0.04      1.031     1.075      stellar
K07987.01   6173.0     4.447     -0.04      1.041     1.104      stellar
K07988.01   4989.0     2.992      0.07      7.824     2.190      stellar
K07989.01   6469.0     4.385      0.07      1.193     1.260      stellar

[9564 rows x 6 columns]

In [69]:
koi['stellar'].describe()

          koi_steff    koi_slogg     koi_smet     koi_srad    koi_smass
count  9201.000000   9201.000000  9178.000000  9201.000000  9201.000000
mean   5706.823280   4.310157    -0.124431     1.728712     1.023706
std    796.857947    0.432606     0.282111     6.127185     0.349447
min    2661.000000   0.047000    -2.500000     0.109000     0.000000
25%    5310.000000   4.218000    -0.260000     0.829000     0.845000
50%    5767.000000   4.438000    -0.100000     1.000000     0.974000
75%    6112.000000   4.543000     0.070000     1.345000     1.101000
max    15896.000000  5.364000     0.560000     229.908000   3.735000

In [70]:
koi['stellar'].select_dtypes(['category','object']).describe([], 'all')

       koi_sparprov
count   9201
unique  2
top     stellar
freq    9096

In [71]:
koi['stellar']['koi_sparprov'].unique()

array(['stellar', nan, 'Solar'], dtype=object)

In [72]:
koi['stellar'].isna().sum()

koi_steff       363
koi_slogg       363
koi_smet        386
koi_srad        363
koi_smass       363
koi_sparprov    363
dtype: int64

### Category: KIC

Kepler Input Catalog ([Brown et al. 2011](https://ui.adsabs.harvard.edu/abs/2011AJ....142..112B/abstract)) 
describes the star's sky coordinates along with spectrometry magnitudes

In [73]:
koi['KIC']

                   ra        dec  koi_kepmag  koi_gmag  koi_rmag  koi_imag  koi_zmag  koi_jmag  koi_hmag  koi_kmag
kepoi_name
K00752.01   291.93423  48.141651  15.347      15.890    15.270    15.114    15.006    14.082    13.751    13.648
K00752.02   291.93423  48.141651  15.347      15.890    15.270    15.114    15.006    14.082    13.751    13.648
K00753.01   297.00482  48.134129  15.436      15.943    15.390    15.220    15.166    14.254    13.900    13.826
K00754.01   285.53461  48.285210  15.597      16.100    15.554    15.382    15.266    14.326    13.911    13.809
...               ...        ...     ...         ...       ...       ...       ...       ...       ...       ...
K07986.01   286.50937  47.163219  14.757      15.189    14.687    14.571    14.484    13.641    13.339    13.261
K07987.01   294.16489  47.176281  15.385      15.853    15.347    15.185    15.158    14.220    13.913    13.844
K07988.01   296.76288  47.145142  10.998      11.733    10.880    10.682    10.578    9.501     9.027     8.921
K07989.01   297.00977  47.121021  14.826      15.210    14.781    14.662    14.647    13.830    13.522    13.512

[9564 rows x 10 columns]

In [74]:
koi['KIC'].describe()

                ra          dec   koi_kepmag     koi_gmag     koi_rmag     koi_imag     koi_zmag     koi_jmag     koi_hmag    koi_kmag
count  9564.000000  9564.000000  9563.000000  9523.000000  9555.000000  9410.000000  8951.000000  9539.000000  9539.000000  9539.00000
mean   292.060163   43.810433    14.264606    14.830501    14.221565    14.075138    13.991724    12.993311    12.620604    12.54341
std    4.766657     3.601243     1.385448     1.501885     1.383713     1.292573     1.230351     1.291912     1.267215     1.26818
min    279.852720   36.577381    6.966000     7.225000     7.101000     7.627000     6.702000     4.097000     3.014000     2.31100
25%    288.660770   40.777173    13.440000    13.896500    13.393000    13.294000    13.276000    12.253000    11.914500    11.84300
50%    292.261125   43.677504    14.520000    15.064000    14.471000    14.317500    14.254000    13.236000    12.834000    12.74400
75%    295.859160   46.714611    15.322000    15.935500    15.275000    15.063000    14.943000    13.968000    13.551000    13.48450
max    301.720760   52.336010    20.003000    21.150000    19.960000    19.900000    17.403000    17.372000    17.615000    17.03800

In [75]:
koi['KIC'].isnull().sum(axis=0).where(lambda x: x != 0).dropna().astype('int32')

koi_kepmag    1
koi_gmag      41
koi_rmag      9
koi_imag      154
koi_zmag      613
koi_jmag      25
koi_hmag      25
koi_kmag      25
dtype: int32

### Category: pixels

Pixel-Based KOI Vetting Statistics are used to help detect false-positives caused by eclipsing binaries in the background image

In [76]:
koi['pixels']

            koi_fwm_sra  koi_fwm_sdec  koi_fwm_srao  koi_fwm_sdeco  koi_fwm_prao  koi_fwm_pdeco  koi_fwm_stat_sig  koi_dicco_mra  koi_dicco_mdec  koi_dicco_msky  koi_dikco_mra  koi_dikco_mdec  koi_dikco_msky
kepoi_name
K00752.01   19.462294    48.141910     0.430         0.940         -0.000200     -0.000550       0.002            -0.010          0.200           0.200           0.080          0.310           0.320
K00752.02   19.462265    48.141990    -0.630         1.230          0.000660     -0.001050       0.003             0.390          0.000           0.390           0.490          0.120           0.500
K00753.01   19.800321    48.134120    -0.021        -0.038          0.000700      0.000600       0.278            -0.025         -0.034           0.042           0.002         -0.027           0.027
K00754.01   19.035638    48.285210    -0.111         0.002          0.003020     -0.001420       0.000            -0.249          0.147           0.289          -0.257          0.099           0.276
...               ...          ...       ...           ...               ...           ...         ...               ...            ...             ...             ...            ...             ...
K07986.01   19.100625    47.163770     0.100         2.000         -0.000018     -0.000074       0.089             0.740         -0.250           0.780           0.500         -0.180           0.530
K07987.01   19.611187    47.174720     7.200        -5.600         -0.000720      0.000500       0.000             3.410         -3.650           5.000           3.380         -3.890           5.160
K07988.01   19.784200    47.145142     0.310         0.010         -0.000290     -0.000100       0.052             1.061          1.320           1.690           1.450          1.370           2.000
K07989.01   19.800732    47.123490     2.900         8.900         -0.000230     -0.000700       0.000             1.020          3.300           3.400           0.960          3.400           3.500

[9564 rows x 13 columns]

In [77]:
koi['pixels'].describe()

       koi_fwm_sra  koi_fwm_sdec  koi_fwm_srao  koi_fwm_sdeco  koi_fwm_prao  koi_fwm_pdeco  koi_fwm_stat_sig  koi_dicco_mra  koi_dicco_mdec  koi_dicco_msky  koi_dikco_mra  koi_dikco_mdec  koi_dikco_msky
count  9058.000000  9058.000000   9109.000000   9109.000000    8734.000000   8747.000000    8488.000000       8965.000000    8965.000000     8965.000000     8994.000000    8994.000000     8994.000000
mean   19.471356    43.829239    -0.316136     -0.165817      -0.000097     -0.000714       0.150994         -0.012281      -0.045420        1.866561       -0.024244      -0.076749        1.812566
std    0.319158     3.599553      20.254777     20.534655      0.058224      0.092986       0.252648          2.406550       2.573558        2.988742        2.382286       2.553758        2.986376
min    18.657036    36.576888    -742.430000   -417.900000    -4.000000     -6.000000       0.000000         -25.100000     -75.900000       0.000000       -27.800000     -76.600000       0.000000
25%    19.243889    40.798688    -0.600000     -0.680000      -0.000210     -0.000220       0.000000         -0.320000      -0.387000        0.170000       -0.310000      -0.390000        0.210000
50%    19.484983    43.694115    -0.000500     -0.034000       0.000000      0.000000       0.006000          0.000000       0.000000        0.610000       -0.004000      -0.017000        0.583000
75%    19.726785    46.720630     0.570000      0.500000       0.000240      0.000240       0.196250          0.309000       0.300000        2.160000        0.290000       0.300000        1.970000
max    20.114785    52.338190     549.500000    712.500000     1.190000      5.000000       1.000000          45.680000      27.500000       88.600000       46.570000      34.000000       89.600000

In [78]:
with pd.option_context('display.max_rows', None, 'display.max_columns', None):
    print( koi['pixels'].isnull().sum(axis=0).where(lambda x: x != 0).dropna().astype('int32') )

koi_fwm_sra         506
koi_fwm_sdec        506
koi_fwm_srao        455
koi_fwm_sdeco       455
koi_fwm_prao        830
koi_fwm_pdeco       817
koi_fwm_stat_sig    1076
koi_dicco_mra       599
koi_dicco_mdec      599
koi_dicco_msky      599
koi_dikco_mra       570
koi_dikco_mdec      570
koi_dikco_msky      570
dtype: int32